

<br />
<br />
<form name="addStockForm">
  <span>Add Another Stock: </span><input type="text" placeholder="Stock Index" ng-model="stockToAdd"></input>
  <button type="submit" ng-click="$ctrl.addStock(stockToAdd)">Track Stock!</button>
</form>
<ul style="list-style:none">
  <li class="row" ng-repeat="stock in $ctrl.stocks">
    <div class="col-md-6">
      <h2>{{stock.symbol}}</h2>
      <h3>{{stock.name}}</h3>
    </div>
    <div class="col-md-3">
      <br />
      <h4>Bid: {{stock.bid}}</h4>
      <h4>Ask: {{stock.ask}}</h4>
    </div> 
    <div class="col-md-3">
      <h6>52 Week High: {{stock['52wkhigh']}}</h6>
      <h6>52 Week Low: {{stock['52wklow']}}</h6>
      <h2>{{stock.percentchange}}</h2>
    </div>
    <hr /
    <br />   
  </li>
</ul>